.menu {
    width: 100%;
    height: 100vh;
    background-color: #ffffff5d;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;

    &.active {
        right: 0;
        background-color: #030b0070;
        backdrop-filter: blur(10px);
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 30px;
        font-weight: 400;
        width: 60%;
        color: #FFFFFF;
        transition: all 1s ease;

        &.active {
            right: 0;
        }

        li {
            margin-bottom: 25px;

            a {
                font-size: inherit;
                color: inherit;
                text-decoration: none;
            }

            &:hover {
                font-weight: 800;
                color: #aaaaaa;
            }
        }
    }
}
