.portfolio {
    background-color: #085ca6;
    display: flex;

    .left {
        flex: 0.6;
        overflow: hidden;
    }

    .right-out {
        flex: 0.4;
        display: grid;
        grid-template-rows: 12% 1fr;
        grid-template-columns: auto;
        overflow: hidden;
        text-align: center;
        align-items: center;
        justify-content: center;

        h2 {
            padding: 10px;
        }

        .right {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: repeat(2, minmax(200px,200px));
            overflow: hidden;
            justify-content: center;
            align-items: center;

            .icon {
                cursor: pointer;
                color: #f2d8ce;
                font-size: 25px;
                filter: drop-shadow(5px 5px 5px rgba(0, 0.5, 0.5, 0.5));
                overflow: hidden;
                display: flex;
                flex-direction: row;
                margin: 5px 20px;

                .icon-text {
                    font-size: 10px;
                    color: #f2d8ce;
                    text-shadow: 5px 5px 5px rgba(0, 0.5, 0.5, 0.5);
                }
            }

            .icon:hover {
                color: #f2d8ce65;
                filter: drop-shadow(5px 5px 5px #f2d8ce41);
            }

            .board {
                margin: 40px 1px;
                height: 550px;
                background-color: #f2d8ce62;
                border: solid 1px #085ca6;
                display: grid;
                // flex-wrap: wrap;
                // flex-direction: row;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(15,1fr);
                justify-content: center;
            }
        }
    }
}
