@import "../../global.scss";

.aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    flex-shrink: 0;
    height: 200vh !important;

    @include mobile {
        justify-content: flex-start;
    }

    .title {
        position: inherit;

        @include mobile {
            overflow: hidden;
            font-size: 20px;
        }

        @media screen and (max-height: 680px) {
            font-size: 15px;
        }
    }

    .body-aboutme {
        display: flex;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        flex: 0.5;
        background-color: #ebebf261;
        backdrop-filter: blur(10px);
        margin: 20px;

        @include mobile {
            margin: 8px 10px;
        }

        .text-aboutme {
            text-justify: distribute-all-lines;
            font-weight: 600;
            font-size: 18px;
            padding: 60px 40px;
            flex: 0.6;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: hidden;

            @include mobile {
                font-size: 12px;
                padding: 3px 5px;
                width: 100%;
                flex: 0.75;
                overflow: hidden;
            }

            @media screen and (max-height: 680px) {
                width: 100%;
                font-size: 10px;
                padding: 4px;
                flex: 0.9;
            }

            .aboutmeBTNS {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                padding: 0 30%;
            }
            // @media screen and (max-width: 500px) {
            //     width: 100%;
            //     font-size: 9px;
            //     flex: 0.9;
            //     padding: 2px;
            // }

            @media screen and (max-width: 350px) {
                width: 95%;
                font-size: 9px;
                padding: 2px;
            }

            p {
                width:70%;
                overflow: hidden;

                @include mobile {
                    margin: 5px;
                }

                @media screen and (max-height: 680px) {
                    margin: 1px;
                }
            }

            .my-button {
                box-shadow: 0px 1px 0px 0px #8085ba;
                background-color: #8085ba;
                border-radius: 6px;
                border: 1px solid #8085ba;
                display: inline-block;
                cursor: pointer;
                color: #000000;
                padding: 12px 44px;
                text-decoration: none;
                text-shadow: 0px -1px 0px #032ca6;
                align-self: center;

                @media screen and (max-height: 680px) {
                    padding: 6px 22px;
                }

                .my-button:hover {
                    background-color: #8085ba33;
                }

                .my-button:active {
                    position: relative;
                    top: 1px;
                }
            }
        }

        .icons {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            padding: 0 30%;

            @include mobile {
                overflow: hidden;
            }

            a {
                text-decoration: none;
                color: black;
                font-size: 80px;
                text-align: center;
                // margin: 0 40px;

                @include mobile {
                    font-size: 40px;
                    overflow: hidden;
                    margin: 5px 45px;
                }

                @media screen and (max-height: 680px) {
                    font-size: 20px;
                }

                &:active {
                    text-decoration: none;
                    color: inherit;
                }

                &:hover {
                    color: rgba(0, 0, 0, 0.26);
                }
            }
        }
    }

    .arrow-opinions {
        color: #ebebf2;
        position: absolute;
        left: 48.5%;
        font-size: 80px;
        z-index: 2;
        animation: blinking4 2s infinite;
        font-size: 50px;
        transform: translateY(50px);

        @keyframes blinking4 {
            0% {
                bottom: calc(-183vh + 10px);
            }

            20% {
                bottom: calc(-183vh);
            }

            100% {
                bottom: calc(-183vh + 10px);
            }
        }

        @include mobile {
            font-size: 60px;
            left: 45%;

            @keyframes blinking4 {
                0% {
                    bottom: calc(-185vh + 10px);
                }

                20% {
                    bottom: calc(-185vh);
                }

                100% {
                    bottom: calc(-185vh + 10px);
                }
            }
        }

        @media screen and (max-height: 680px) {
            font-size: 40px;
            @keyframes blinking4 {
                0% {
                    bottom: calc(-175vh + 10px);
                }

                20% {
                    bottom: calc(-175vh);
                }

                100% {
                    bottom: calc(-175vh + 10px);
                }
            }
        }
    }
}
