@import "../../global.scss";

.aboutme {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    h1 {
        position: inherit;
        flex: 0.1;
    }

    .body-aboutme {
        flex: 0.9;
        display: flex;
        justify-content: center;
        flex-shrink: 0;

        @include mobile {
            flex-direction: column;
        }

        .left {
            display: flex;
            flex-direction: column;
            justify-content: start;
            flex-shrink: 0;
            flex: 0.5;
            background-color: #ebebf2;
            margin: 20px;

            .text-aboutme {
                width: 90%;
                text-justify: distribute-all-lines;
                font-weight: 600;
                padding: 30px 30px;
                overflow: hidden;
                flex: 0.5;

                @include mobile {
                    padding: 0 10px;
                    width: 100%;
                }
            }

            .my-button {
                box-shadow: 0px 1px 0px 0px #8085ba;
                background-color: #8085ba;
                border-radius: 6px;
                border: 1px solid #8085ba;
                display: inline-block;
                cursor: pointer;
                color: #000000;
                padding: 12px 44px;
                text-decoration: none;
                text-shadow: 0px -1px 0px #032ca6;

                .my-button:hover {
                    background-color: #8085ba33;
                }

                .my-button:active {
                    position: relative;
                    top: 1px;
                }
            }

            .icons {
                display: flex;
                justify-content: space-around;
                align-items: flex-end;
                height: -webkit-fill-available;
                // padding: 0 10%;
                flex: 0.5;

                a {
                    text-decoration: none;
                    color: black;
                    font-size: 100px;
                    width: 15%;
                    text-align: center;

                    @include mobile {
                        font-size: 40px;
                    }

                    &:active {
                        text-decoration: none;
                        color: inherit;
                    }

                    &:hover {
                        color: rgba(0, 0, 0, 0.26);
                    }
                }
            }
        }

        .right {
            flex: 0.5;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            background-color: #ebebf2;
            margin:20px;

            h1 {
                font-size: 20px;
                padding: 5px;
            }

            .right-out {
                flex: 0.55;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h3 {
                    font-size: 15px;
                    padding-bottom: 10px;
                }

                .vote-title-btn {
                    display: flex;
                    position: relative;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    padding: 2px 0 5px 0;
                    h2 {
                        font-size: 15px;
                    }

                    .result-vote {
                        margin: 0;
                        padding: 0;
                    }
                }

                .my-button {
                    box-shadow: 0px 1px 0px 0px #8085ba;
                    background-color: #8085ba;
                    border-radius: 6px;
                    border: 1px solid #8085ba;
                    display: inline-block;
                    cursor: pointer;
                    color: #000000;
                    padding: 12px 44px;
                    text-decoration: none;
                    text-shadow: 0px -1px 0px #032ca6;
                }

                .my-button:hover {
                    background-color: #8085ba33;
                }
                .my-button:active {
                    position: relative;
                    top: 1px;
                }

                .boards {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    padding-top: 10px;

                    .between-board-arrow{
                            font-size: 50px;
                            font-weight: 800;
                        }

                    .board {
                        display: flex;
                        flex-wrap: wrap;
                        width: 40%;
                        height: 200px;
                        background-color: #ebebf2;
                        align-items: stretch;
                        justify-content: space-around;
                        border: solid 2px rgba(0, 0, 0, 0.288);

                        .icon {
                            cursor: pointer;
                            color: #030b00;
                            font-size: 30px;
                            overflow: hidden;
                            display: flex;
                            flex-direction: column;
                            margin: 5px;
                            align-items: center;
                            justify-content: center;

                            // @include mobile {

                            // }

                            .icon-text {
                                font-size: 10px;
                                color: #030b00;
                            }
                        }

                        .icon:hover {
                            color: #030b00;
                        }
                    }
                }
            }
            .bar {
                flex: 0.45;
                width: 65%;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                border: solid 2px rgba(0, 0, 0, 0.288);
                margin-bottom: 20px;
                background-color: #ebebf2;
            }

            .phone {
                display: none;
            }
        }
    }

    .arrow-opinions {
        color: rgba(0, 0, 0, 0.26);
        position: absolute;
        left: 48.5%;
        font-size: 80px;
        z-index: 2;
        animation: blinking4 2s infinite;
        font-size: 50px;
        transform: translateY(50px);

        @keyframes blinking4 {
            0% {
                bottom: calc(-183vh + 10px);
            }

            20% {
                bottom: calc(-183vh);
            }

            100% {
                bottom: calc(-183vh + 10px);
            }
        }

        @include mobile {
            font-size: 40px;
            left: 45%;
            transform: translateY(8px);
        }
    }
}
