@import "../../global.scss";

.intro {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-shrink: 0;

    .text-over-img {
        color: #030b00;
        margin-top: 20px;
        font-size: 18px;
        overflow: hidden;
        flex-shrink: 0;

        @include mobile {
            margin-top: 0;
            transform: translateX(-12%);
        }

        h1 {
            margin-bottom: 10px;
            margin-left: 18%;
            overflow: hidden;

            @include mobile {
                margin-top: 0;
                font-size: 25px;
                margin-left: 0;
            }

            @media screen and (max-height: 680px) {
                font-size: 20px;
            }
        }
        @include mobile {
            .im-gabriel {
                display: none;
            }
        }
    }

    .body-intro {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        flex-shrink: 0;

        @include mobile {
            display: grid;
            grid-template-rows: 3fr 5fr;
            grid-template-columns: 100%;
        }

        @media (max-width: 380px) {
            grid-template-rows: 3fr 3fr;
        }

        .left {
            flex: 0.5;
            overflow: hidden;
            flex-shrink: 0;
            justify-content: flex-end;

            .img-container {
                @media (max-width: 4000px) {
                    margin-top: 15%;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    background-color: #ebebf2;
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                    float: left;
                    flex-shrink: 0;
                    overflow: hidden;
                    flex-shrink: 0;
                }

                @media (max-width: 2000px) {
                    margin-top: 50px;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    background-color: #ebebf2;
                    border-radius: 50%;
                    width: 700px;
                    height: 700px;
                    float: left;
                    flex-shrink: 0;
                    overflow: hidden;
                    flex-shrink: 0;
                }

                @media (max-width: 1410px) {
                    background-color: #f2d8ce00;
                }

                @include mobile {
                    margin-top: 0;
                    align-items: space-between;
                    width: 350px;
                    height: 300px;
                    background-color: #f2d8ce00;
                    background-color: #f2d8ce00;
                    box-shadow: none;

                    @media screen and (max-height: 680px) {
                        width: 100%;
                        height: 100%;
                    }
                }

                img {
                    width: 80%;

                    @include mobile {
                        width: 70%;
                        // border-radius: 100%;
                    }
                }
            }
        }

        .right {
            flex: 0.5;
            position: relative;
            overflow: hidden;
            flex-shrink: 0;

            .wrapper {
                width: 100%;
                height: 100%;
                // padding-left: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                overflow: hidden;
                flex-shrink: 0;

                @include mobile {
                    padding-left: 0;
                    align-items: center;
                }

                .text-wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    overflow: hidden;
                    align-items: flex-start;
                    overflow: hidden;
                    flex-shrink: 0;

                    @include mobile {
                        padding-left: 35px;
                    }

                    h2 {
                        font-size: 40px;
                        color: #030b00;
                        margin: 10px 0;

                        @media (max-width: 1410px) {
                            font-size: 25px;
                        }

                        @include mobile {
                            font-size: 25px;
                        }

                        @media screen and (max-height: 680px) {
                            font-size: 20px;
                        }
                    }

                    h3 {
                        font-size: 25px;
                        color: #030b007e;
                        margin: 10px 0;
                        height: 100px;

                        @media (max-width: 1410px) {
                            font-size: 18px;
                        }

                        @include mobile {
                            font-size: 18px;
                        }

                        @media screen and (max-height: 680px) {
                            font-size: 15px;
                        }
                    }
                }
                a {
                    color: #ebebf2;
                    position: absolute;
                    left: 40%;
                    font-size: 80px;
                    animation: blinking 2s infinite;

                    // @include mobile {
                    //     font-size: 40px;
                    //     left: 45%;
                    // }

                    @keyframes blinking {
                        0% {
                            bottom: 35px;
                        }

                        20% {
                            bottom: 25px;
                        }

                        100% {
                            bottom: 35px;
                        }
                    }

                    @include mobile {
                        font-size: 80px;
                        left: 45%;
                        bottom: 50px;

                        @keyframes blinking {
                            0% {
                                bottom: 65px;
                            }

                            20% {
                                bottom: 55px;
                            }

                            100% {
                                bottom: 65px;
                            }
                        }
                    }

                    @media screen and (max-height: 680px) {
                        font-size: 60px;

                        @keyframes blinking {
                            0% {
                                bottom: 15px;
                            }

                            20% {
                                bottom: 10px;
                            }

                            100% {
                                bottom: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}
