@import "../../global.scss";

.intro {
    background-color: #085ca6;
    display: flex;

    @include mobile {
        flex-direction: column;
        align-items: center;
    }

    .left {
        flex: 0.5;
        overflow: hidden;

        .text-over-img {
            color: #f2d8ce;
            margin-top: 20px;
            font-size: 25px;
            text-shadow: 5px 5px 5px rgba(0, 0.5, 0.5, 0.5);

            h1 {
                margin-bottom: 10px;
                transform: translateX(-100);

                @include mobile {
                    margin-top: 0;
                    font-size: 25px;
                    margin-left: 15px;
                }
            }
        }

        .img-container {
            margin-top: 50px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            background-color: #f2d8ce;
            border-radius: 50%;
            width: 700px;
            height: 700px;
            float: left;
            box-shadow: 5px 5px 5px rgba(0, 0.5, 0.5, 0.5);

            @include mobile {
                margin-top: 5px;
                align-items: flex-start;
                width: 390px;
                height: 390px;
                background-color: #f2d8ce00;
                box-shadow: none;
                margin-left: 17%;
            }

            img {
                width: 80%;

                @include mobile {
                    width: 60%;
                }
            }
        }
    }

    .right {
        flex: 0.5;
        position: relative;

        .wrapper {
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include mobile {
                padding-left: 0;
                align-items: center;
            }

            .text-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                overflow: hidden;

                @include mobile {
                    // text-align: center;
                    padding-left: 35px;
                }

                h2 {
                    font-size: 40px;
                    color: #f2d8ce;
                    margin: 10px 0;

                    @include mobile {
                        font-size: 25px;
                    }
                }

                h3 {
                    font-size: 25px;
                    color: #f2d8ce8c;
                    margin: 10px 0;
                    height: 100px;

                    @include mobile {
                        font-size: 18px;
                    }
                }
            }
            a {
                color: #f2d8ce8c;
                position: absolute;
                left: 40%;
                font-size: 80px;
                animation: blinking 2s infinite;

                @include mobile {
                    font-size: 40px;
                    left: 45%;
                }

                @keyframes blinking {
                    0% {
                        bottom: 20px;
                    }

                    20% {
                        bottom: 0;
                    }

                    100% {
                        bottom: 20px;
                    }
                }
            }
        }
    }
}
