@import "../../../global.scss";

.item {
    position: relative;
    width: 300px;
    height: 200px;
    border: 1px solid #8085ba63;
    margin: 50px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #8089ba;
    flex-shrink: 0;

    @media screen and (max-height: 780px) {
        width: 140px;
        height: 140px;
        margin: 25px 10px;
    }

    @include mobile {
        width: 140px;
        height: 140px;
        margin: 25px 10px;
    }

    h3 {
        color: black;
        position: absolute;
        font-size: 20px;

        @media screen and (max-height: 780px) {
            text-align: center;
            font-size: 15px;
        }

        @include mobile {
            text-align: center;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.02;
        z-index: 0;
        transition: all 0.5s ease;
    }

    &:hover {
        box-shadow: 5px 5px 5px rgba(0, 0.5, 0.5, 0.5);
        transition: all 0.5s ease;

        img {
            opacity: 1;
            z-index: 1;
        }
    }
}
