@import "../../global.scss";

.contact {
    background-color: #ffffff;
    display: flex;
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.616)
        ),
        url("https://images.unsplash.com/photo-1627398242454-45a1465c2479");
    background-size: cover;
    background-position: right center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    @include mobile {
        flex-direction: column;
    }

    // .left {
    //     flex: 1;
    //     overflow: hidden;

    //     @include mobile {
    //         flex: 0.3;
    //     }

    //     img {
    //         height: 100%;
    //         width: 100%;
    //         // filter: opacity(0.85);

    //         @include mobile {
    //             width: 100%;
    //         }
    //     }
    // }

    .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: relative;
        width: 40%;
        height: 70%;
        min-width: 350px;
        background-color: #ebebf261;
        backdrop-filter: blur(10px);
        border-radius: 8px;

        @include mobile {
            flex: 0.7;
        }

        @media screen and (max-height: 680px) {
            flex: 1;
        }

        h2 {
            font-size: 30px;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            font-family: "Open Sans", sans-serif;
            height: 75%;

            span {
                text-align: center;

                .img-span {
                    width: 30px;
                    height: auto;
                }
            }

            label {
                font-weight: 700;
            }

            input {
                width: 300px;
                height: 30px;
                font-size: 15px;
                padding-left: 10px;
                border-radius: 3px;
                border-radius: 8px;
            }

            textarea {
                width: 300px;
                height: 150px;
                font-size: 15px;
                padding-left: 10px;
                border-radius: 3px;
                border: solid 2px black;
                border-radius: 8px;
            }

            .my-button {
                box-shadow: 0px 1px 0px 0px #8085ba;
                background-color: #8085ba;
                border-radius: 6px;
                border: 1px solid #8085ba;
                display: inline-block;
                cursor: pointer;
                color: #000000;
                padding: 12px 44px;
                text-decoration: none;
                &:hover {
                    background-color: #8085ba33;
                }
                &:active {
                    position: relative;
                    top: 1px;
                }
            }
            }


    }

    .copyright {
        width: 200px;
        font-size: 15px;
        font-weight: 700;
        // color: #ebebf2f6;
        position: absolute;
        bottom: 10px;
        text-align: center;
        right: calc(50% - 100px);

        @media screen and (max-height: 680px) {
            bottom: 2px;
        }
    }
}
