.contact {
    background-color: #085ca6;
    display: flex;

    .left{
        flex:1;
        overflow: hidden;
        
        img{
            height: 100%;
        }
    }

    .right{
        flex:1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        h2{
            font-size: 30px;
        }

        form{
            width: 70%;
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            input{
                width: 300px;
                height: 30px;
                font-size: 15px;
            }

            textarea{
                width: 300px;
                height: 200px;
                font-size: 15px;
            }

            button{
                width: 150px;
                height: 30px;
                color:#085ca6;
                background-color: #f2d8ce;
                border:none;
                border-radius: 10px;
                font-weight: 500;
                cursor: pointer;
            }
        }
    }
}
